.button-container {
    display: flex;
    gap: 20px; 
    margin-top: 200px;
    margin-left: 173px;
}

body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0; 
    background-image: url("back image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;              
}

button {
    padding: 20px 60px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 20px;
}

h1 {
    color: red;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}